<div>
    <form (ngSubmit)="MakeLogin()">
    <input type="text" placeholder="Введите название города" [(ngModel)]='login' name='login'>
    <input type="text" placeholder="Введите страну"[(ngModel)]="password" name='password'>
    <input type="submit" placeholder="Отправить" Value='Добавить' (click)='do(login,password)'>
    </form>
    <div *ngIf="entered ">
        <p>Город добавлен!</p>
    </div>
    <div  *ngFor="let item of items">
       city: {{item.city}}
       country: {{item.country}}
    </div>
</div>
